USE [master]
GO
/****** Object:  Database [EMarket]    Script Date: 6/5/2019 7:36:54 PM ******/
CREATE DATABASE [EMarket]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMarket', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EMarket.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EMarket_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EMarket_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMarket].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMarket]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/5/2019 7:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 6/5/2019 7:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[ChiTietHoaDonId] [int] IDENTITY(1,1) NOT NULL,
	[HoaDonId] [int] NOT NULL,
	[HangHoaId] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TongTien] [float] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[ChiTietHoaDonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 6/5/2019 7:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoanId] [int] NOT NULL,
	[HangHoaId] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[Rating] [int] NULL,
 CONSTRAINT [PK_DanhGia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 6/5/2019 7:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[HangHoaID] [int] IDENTITY(1,1) NOT NULL,
	[TenHangHoa] [nvarchar](200) NOT NULL,
	[NhaCungCapID] [int] NOT NULL,
	[LoaiID] [int] NOT NULL,
	[Gia] [float] NOT NULL,
	[Hinh] [varchar](255) NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[HangHoaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/5/2019 7:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[HoaDonId] [int] IDENTITY(1,1) NOT NULL,
	[NgayLapHoaDon] [datetime2](7) NOT NULL,
	[TinhTrang] [bit] NOT NULL,
	[TenKhachHang] [nvarchar](max) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[SDT] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[HoaDonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoHang]    Script Date: 6/5/2019 7:36:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoHang](
	[KhoHangID] [int] IDENTITY(1,1) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[HangHoaID] [int] NOT NULL,
 CONSTRAINT [PK_KhoHang] PRIMARY KEY CLUSTERED 
(
	[KhoHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai]    Script Date: 6/5/2019 7:36:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[LoaiID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_Loai] PRIMARY KEY CLUSTERED 
(
	[LoaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 6/5/2019 7:36:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[NhaCungCapID] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaCungCap] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](200) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[NhaCungCapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 6/5/2019 7:36:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TaiKhoanID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[NgayDK] [datetime] NOT NULL,
	[LoaiTaiKhoan] [bit] NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TaiKhoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinTaiKhoan]    Script Date: 6/5/2019 7:36:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinTaiKhoan](
	[ThongTinTaiKhoanID] [int] IDENTITY(1,1) NOT NULL,
	[HoVaTen] [nvarchar](200) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[SDT] [varchar](20) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[TaiKhoanId] [int] NOT NULL,
 CONSTRAINT [PK_ThongTinTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[ThongTinTaiKhoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopSelling]    Script Date: 6/5/2019 7:36:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopSelling](
	[TopSellingID] [int] IDENTITY(1,1) NOT NULL,
	[HangHoaID] [int] NOT NULL,
	[SoLan] [int] NULL,
	[DanhGia] [int] NULL,
 CONSTRAINT [PK_TopSelling] PRIMARY KEY CLUSTERED 
(
	[TopSellingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181205044138_CreateKhoHang', N'2.1.4-rtm-31024')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181207075028_thaydoitabletaikhoan', N'2.1.4-rtm-31024')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181208021429_ThemEmailVaoTaiKhoan', N'2.1.4-rtm-31024')
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([ChiTietHoaDonId], [HoaDonId], [HangHoaId], [SoLuong], [TongTien]) VALUES (1, 15, 1, 2, 1999.8)
INSERT [dbo].[ChiTietHoaDon] ([ChiTietHoaDonId], [HoaDonId], [HangHoaId], [SoLuong], [TongTien]) VALUES (2, 36, 2, 1, 1600)
INSERT [dbo].[ChiTietHoaDon] ([ChiTietHoaDonId], [HoaDonId], [HangHoaId], [SoLuong], [TongTien]) VALUES (3, 37, 2, 1, 1600)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
SET IDENTITY_INSERT [dbo].[DanhGia] ON 

INSERT [dbo].[DanhGia] ([Id], [TaiKhoanId], [HangHoaId], [Comment], [Rating]) VALUES (1, 9, 1, N'123123', 4)
INSERT [dbo].[DanhGia] ([Id], [TaiKhoanId], [HangHoaId], [Comment], [Rating]) VALUES (2, 9, 1, N'This Is AWESOME!!!!!!', 5)
SET IDENTITY_INSERT [dbo].[DanhGia] OFF
SET IDENTITY_INSERT [dbo].[HangHoa] ON 

INSERT [dbo].[HangHoa] ([HangHoaID], [TenHangHoa], [NhaCungCapID], [LoaiID], [Gia], [Hinh], [MoTa]) VALUES (1, N'IPhone XS', 3, 1, 999.9, N'iphonexs.jpg', N'Super Retina in two sizes — including the largest display ever on an iPhone. Even faster Face ID. The smartest, most powerful chip in a smartphone.')
INSERT [dbo].[HangHoa] ([HangHoaID], [TenHangHoa], [NhaCungCapID], [LoaiID], [Gia], [Hinh], [MoTa]) VALUES (2, N'MacBook-Air', 3, 2, 1600, N'macbookair.jpg', N'The most loved Mac is about to make you fall in love all over again. Available in silver, space gray, and gold, the new thinner and lighter MacBook Air features a brilliant Retina display, Touch ID, the latest-generation keyboard, and a Force Touch trackpad.')
INSERT [dbo].[HangHoa] ([HangHoaID], [TenHangHoa], [NhaCungCapID], [LoaiID], [Gia], [Hinh], [MoTa]) VALUES (3, N'IPad-Pro', 3, 4, 475, N'ipadpro.jpg', N'The new all-screen design means iPad Pro is a magical piece of glass that does everything you need, any way you hold it.')
SET IDENTITY_INSERT [dbo].[HangHoa] OFF
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([HoaDonId], [NgayLapHoaDon], [TinhTrang], [TenKhachHang], [DiaChi], [SDT], [Email]) VALUES (15, CAST(N'2018-12-05T00:00:00.0000000' AS DateTime2), 1, N'Ðàm Nh?t Phong', N'blablablablaSomWhereOverTheRainbow', N'0903373103', N'phongdeptrai@gmail.com')
INSERT [dbo].[HoaDon] ([HoaDonId], [NgayLapHoaDon], [TinhTrang], [TenKhachHang], [DiaChi], [SDT], [Email]) VALUES (36, CAST(N'2018-12-05T00:00:00.0000000' AS DateTime2), 0, N'Ðàm Nh?t Phong', N'blablablablaSomWhereOverTheRainbow', N'0903373103', N'phongdeptrai@gmail.com')
INSERT [dbo].[HoaDon] ([HoaDonId], [NgayLapHoaDon], [TinhTrang], [TenKhachHang], [DiaChi], [SDT], [Email]) VALUES (37, CAST(N'2018-07-08T00:00:00.0000000' AS DateTime2), 0, N'Ðàm Nh?t Phong', N'blablablablaSomWhereOverTheRainbow', N'0903373103', N'phongdeptrai@gmail.com')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
SET IDENTITY_INSERT [dbo].[KhoHang] ON 

INSERT [dbo].[KhoHang] ([KhoHangID], [SoLuong], [HangHoaID]) VALUES (1, 20, 1)
INSERT [dbo].[KhoHang] ([KhoHangID], [SoLuong], [HangHoaID]) VALUES (2, 41, 2)
INSERT [dbo].[KhoHang] ([KhoHangID], [SoLuong], [HangHoaID]) VALUES (3, 41, 3)
SET IDENTITY_INSERT [dbo].[KhoHang] OFF
SET IDENTITY_INSERT [dbo].[Loai] ON 

INSERT [dbo].[Loai] ([LoaiID], [TenLoai], [MoTa]) VALUES (1, N'Điện Thoại', N'Điện thoại di động, còn gọi là điện thoại cầm tay, là loại điện thoại kết nối dựa trên sóng điện từ vào mạng viễn thông.')
INSERT [dbo].[Loai] ([LoaiID], [TenLoai], [MoTa]) VALUES (2, N'Laptop', N'A laptop is a computer designed for portability. Laptops are usually less than 3 inches thick, weigh less than 5 pounds and can be powered by a battery.')
INSERT [dbo].[Loai] ([LoaiID], [TenLoai], [MoTa]) VALUES (3, N'Máy Ảnh', N'Máy ảnh hay máy chụp hình là một dụng cụ dùng để thu ảnh thành một ảnh tĩnh hay thành một loạt các ảnh chuyển động (gọi là phim hay video). ')
SET IDENTITY_INSERT [dbo].[Loai] OFF
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([NhaCungCapID], [TenNhaCungCap], [MoTa]) VALUES (1, N'NOKIA', N'Nokia is a global leader in creating the technologies at the heart of our connected world')
INSERT [dbo].[NhaCungCap] ([NhaCungCapID], [TenNhaCungCap], [MoTa]) VALUES (2, N'SAMSUNG', N'Samsung is a South Korean electronics company which sells televisions, household appliances and perhaps most notably, mobile devices.')
INSERT [dbo].[NhaCungCap] ([NhaCungCapID], [TenNhaCungCap], [MoTa]) VALUES (3, N'APPLE', N'Apple Inc. is an American multinational technology company headquartered in Cupertino, California, that designs, develops, and sells consumer electronics, ...')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([TaiKhoanID], [UserName], [Password], [NgayDK], [LoaiTaiKhoan], [Email]) VALUES (8, N'phong3', N'202cb962ac59075b964b07152d234b70', CAST(N'2018-12-09T12:22:37.010' AS DateTime), 0, N'damnhatphong671998@gmail.com')
INSERT [dbo].[TaiKhoan] ([TaiKhoanID], [UserName], [Password], [NgayDK], [LoaiTaiKhoan], [Email]) VALUES (9, N'phong', N'202cb962ac59075b964b07152d234b70', CAST(N'2018-12-13T15:09:15.707' AS DateTime), 1, N'damnhatphong671998@gmail.com')
INSERT [dbo].[TaiKhoan] ([TaiKhoanID], [UserName], [Password], [NgayDK], [LoaiTaiKhoan], [Email]) VALUES (11, N'phong2', N'202cb962ac59075b964b07152d234b70', CAST(N'2018-12-13T15:40:35.563' AS DateTime), 1, N'damnhatphong671998@gmail.com')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
SET IDENTITY_INSERT [dbo].[ThongTinTaiKhoan] ON 

INSERT [dbo].[ThongTinTaiKhoan] ([ThongTinTaiKhoanID], [HoVaTen], [NgaySinh], [SDT], [DiaChi], [TaiKhoanId]) VALUES (14, N'Đàm Nhật Dukes', CAST(N'1998-06-07T00:00:00.000' AS DateTime), N'0903373103', N'113/84/44', 9)
INSERT [dbo].[ThongTinTaiKhoan] ([ThongTinTaiKhoanID], [HoVaTen], [NgaySinh], [SDT], [DiaChi], [TaiKhoanId]) VALUES (15, N'Đàm Nhật Phong', CAST(N'1998-06-07T00:00:00.000' AS DateTime), N'0903373103', N'HCMUP HO CHI MINH City', 12)
SET IDENTITY_INSERT [dbo].[ThongTinTaiKhoan] OFF
SET IDENTITY_INSERT [dbo].[TopSelling] ON 

INSERT [dbo].[TopSelling] ([TopSellingID], [HangHoaID], [SoLan], [DanhGia]) VALUES (1, 1, 15, 10)
INSERT [dbo].[TopSelling] ([TopSellingID], [HangHoaID], [SoLan], [DanhGia]) VALUES (2, 4, 8, 7)
INSERT [dbo].[TopSelling] ([TopSellingID], [HangHoaID], [SoLan], [DanhGia]) VALUES (3, 2, 14, 9)
SET IDENTITY_INSERT [dbo].[TopSelling] OFF
/****** Object:  Index [IX_ChiTietHoaDon_HangHoaId]    Script Date: 6/5/2019 7:36:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietHoaDon_HangHoaId] ON [dbo].[ChiTietHoaDon]
(
	[HangHoaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietHoaDon_HoaDonId]    Script Date: 6/5/2019 7:36:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietHoaDon_HoaDonId] ON [dbo].[ChiTietHoaDon]
(
	[HoaDonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangHoa_LoaiID]    Script Date: 6/5/2019 7:36:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_HangHoa_LoaiID] ON [dbo].[HangHoa]
(
	[LoaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangHoa_NhaCungCapID]    Script Date: 6/5/2019 7:36:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_HangHoa_NhaCungCapID] ON [dbo].[HangHoa]
(
	[NhaCungCapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_KhoHang_HangHoaID]    Script Date: 6/5/2019 7:36:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_KhoHang_HangHoaID] ON [dbo].[KhoHang]
(
	[HangHoaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ThongTinTaiKhoan_TaiKhoanId]    Script Date: 6/5/2019 7:36:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_ThongTinTaiKhoan_TaiKhoanId] ON [dbo].[ThongTinTaiKhoan]
(
	[TaiKhoanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TopSelling_HangHoaID]    Script Date: 6/5/2019 7:36:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_TopSelling_HangHoaID] ON [dbo].[TopSelling]
(
	[HangHoaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ThongTinTaiKhoan] ADD  DEFAULT ((0)) FOR [TaiKhoanId]
GO
ALTER TABLE [dbo].[TopSelling] ADD  DEFAULT ((0)) FOR [SoLan]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HangHoa_HangHoaId] FOREIGN KEY([HangHoaId])
REFERENCES [dbo].[HangHoa] ([HangHoaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HangHoa_HangHoaId]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon_HoaDonId] FOREIGN KEY([HoaDonId])
REFERENCES [dbo].[HoaDon] ([HoaDonId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon_HoaDonId]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_LoaiID] FOREIGN KEY([LoaiID])
REFERENCES [dbo].[Loai] ([LoaiID])
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_LoaiID]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_NhaCungCap] FOREIGN KEY([NhaCungCapID])
REFERENCES [dbo].[NhaCungCap] ([NhaCungCapID])
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_NhaCungCap]
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD  CONSTRAINT [FK_KhoHang_HangHoa_HangHoaID] FOREIGN KEY([HangHoaID])
REFERENCES [dbo].[HangHoa] ([HangHoaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhoHang] CHECK CONSTRAINT [FK_KhoHang_HangHoa_HangHoaID]
GO
ALTER TABLE [dbo].[ThongTinTaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinTaiKhoan_TaiKhoan] FOREIGN KEY([TaiKhoanId])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoanID])
GO
ALTER TABLE [dbo].[ThongTinTaiKhoan] CHECK CONSTRAINT [FK_ThongTinTaiKhoan_TaiKhoan]
GO
ALTER TABLE [dbo].[TopSelling]  WITH CHECK ADD  CONSTRAINT [FK_TopSelling_HangHoa] FOREIGN KEY([HangHoaID])
REFERENCES [dbo].[HangHoa] ([HangHoaID])
GO
ALTER TABLE [dbo].[TopSelling] CHECK CONSTRAINT [FK_TopSelling_HangHoa]
GO
USE [master]
GO
